# Compiled class file
*.class
**/target/
# Log file
*.log
logs/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.iml
.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# demo
z-demo/

# 类似 newPlatform1615279474956-tcpfms-test1agro-robotnet4006/.lck 的文件
.lck
